.container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Full viewport height */
  text-align: center;
}

mat-card {
  width: 300px; /* Adjust width as needed */
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  gap: 20px; /* Add spacing between elements */
  width: 100%; /* Stretch form to card width */
}

mat-form-field {
  width: 100%; /* Full width input field */
}

.button-submit {
  width: 100%; /* Button spans full width */
}
